* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    width: 100px;
    height: 100px;

    margin: 0 auto;

    text-align: center;
    align-content: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    background-color: tomato;
}